[Desktop Entry]
Name=rox-System
Comment=System monitor
Comment[pl]=Monitor systemu
Exec=/usr/lib/rox/System/AppRun
Icon=rox-System
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
# vi: encoding=utf-8
